.header {
  background-color: #5E9ABF;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 300px;
  button {
    margin-right: 10px;
    font-size: 16px;
    color: white;
    font-weight: 400;
  }
  button:hover {
    background-color: #75b1d6;
  }
  .active-link {
    background-color: #3a79a0;
  }
}

.content {
    width: 1090px;
    margin: 10px auto;
}
